# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# =========================
# Entornos virtuales
# =========================
venv/
.venv/
env/
ENV/

# =========================
# Logs (se montan como volumen)
# =========================
logs/

# =========================
# Git
# =========================
.git/
.gitignore

# =========================
# IDE
# =========================
.vscode/
.idea/
*.swp
*.swo

# =========================
# Sistema operativo
# =========================
.DS_Store
Thumbs.db

# =========================
# Documentación
# =========================
*.md
README.md
